body {
    display: flex;
   flex-direction: column;
   align-items: center;
}
.input__text {
    margin: 20px;
    max-width: 1100px;
    width: 100%;
    height: 200px;
    border: solid 1px;
    border-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    padding: 5px 0;
    background: rgb(32, 32, 111);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: bottom 0.4s;
}



.keyboard__keys {
    text-align: center;
    margin: 10px;
}

.key {
    height: 45px;
    width: 60px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgb(68, 68, 102);
    color:rgb(204, 204, 209);
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.enter,
.capslock,
.backspace, 
.shift {
    width: 126px;
}
.tab {
    width: 126px;
}
.space {
    width: 456px;
}
.key:hover {
    background: rgba(35, 28, 28, 0.12);;

}
.key-active {
    background: rgb(248, 137, 104);
    border-radius: 50px;
    animation: rotate 0.6s linear;
}

.key:active {
    background: rgb(248, 137, 104);
    border-radius: 50px;
    animation: rotate 0.6s linear;
}
.key-active::after ,
.key:active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }

} 
